/* SETTINGS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 2.98rem;
    color: blue;
    text-align: center;
    margin: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 3px;
}
h2 {
    font-size: 2rem;
    margin-bottom: 3.5rem;
    letter-spacing: 3px;
}

h3{
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: blue;
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
    padding-left: 25px;

}
p{
    font-size: 1rem;
    line-height: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#story,
#skills,
#contact{
    margin: 100px;
    padding: 100px;
}

/* ul {
    
    gap: 20px;
    color: rgb(208, 24, 24);
    text-align: end;
    

} */
header{
    height: 600px;
    background: url('img/headerOk.jpg' )center center;
}


/* nav ul {
    display: flex;} */
nav {
    height: 75px;
    padding-right: 50px;
}

nav ul {
    display: flex;
    justify-content: end;
    line-height: 75px;
    gap: 50px;    
}

    

a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

a:hover{
    color: black;
}
.about{
    display: flex;
    align-items: center;
}

#skills p{
    margin-bottom: 45px;
    margin-left: 75px;
}

#office {
background: url(img/bg.jpg);
padding: 100px;
}

.h2Bureau {
    color: antiquewhite;
}
/* Avec img horizontal sans vertical????? */
.galery img{
    width: 30%;
    height: auto;
    border-radius: 10px;
    margin: 25px;
    align-items: center;
    filter: grayscale(100%);
}

textarea{
    margin-top: 20px;

}
.galery img:hover{
filter: none;
}

.formulaire{
    display: flex;
    justify-content: center;
    gap: 50px;

}
input:last-child {
    background-color: blue;
    margin-top: 10px;
    color: antiquewhite;
    border-radius: 5px;
    padding: 10px;
}

input:last-child:hover{
    background-color: rgb(95, 103, 255);
}

footer{
    background-color: blue;
    text-align: center;
}
footer ul{
    justify-content: center;
    padding: 25px;
    display: flex;
    gap: 50px;
}